@import '@styles/base';

.dialogWrapper {
  border-radius: 0.5rem !important;
  padding: 1rem;

  .title {
    font-size: 1rem;
    font-weight: 700;
  }
  .message {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }

  .button {
    width: fit-content;
    margin-left: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: none;
    font-family: Poppins, Arial, sans-serif;
    font-size: 0.7rem;
    background-color: var(--color-text);
    color: var(--color-bg);
    cursor: pointer;
  }

  .button:hover {
    opacity: 0.8;
  }
}
