@import './media-mixins.scss';

@mixin light-theme {
  --color-bg: #fff;
  --color-bg-secondary: white;
  --color-primary: #3b08d3;
  --color-secondary: #06f82c;
  --color-accent: #3939b8;
  --color-text: #001a41;
  --color-button: #ed0226;
}

@mixin dark-theme {
  --color-bg: #101014;
  --color-bg-secondary: rgb(16, 16, 20);
  --color-primary: #5e2bf7;
  --color-secondary: #8cf49b;
  --color-accent: #ffffff;
  --color-text: #ffffff;
  --color-button: #ed0226;
}
